*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FFF;
}
.logo{
    margin-left: 55px;
    width: 105px;
    height: 84px;
    display: flex;
    align-items: center;
}
.logo li {
    position: absolute;
    width: 115px;
    left: 122px;
    top: 20px;
}
.container{
    position: relative;
    background: #F0ECE2;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    height: 7rem;
  }
.logo li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    width: 50px;
    color: #050505;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Jomolhari;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.label{
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
.box {
    width: 100%;
    height: 100%;
}

.box .rectangle {
    position: relative;
    width: 1170px;
    height: 500px;
    top: 0;
    margin-left: 15rem;
    background-color: #006ae5;
    border-radius: 49px;
}
.per{
    position: absolute;
    width: 374px;
    margin-top: 3rem;
    margin-left: 4rem;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.text{
    position: absolute;
    margin-top: 8rem;
    margin-left: 6rem;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    }
form{
    position: relative;
    width: 70%;
    height: 50px;
	display: flex;
    top: 20%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 150px;
}
label{
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    }
input{
    position: relative;
    display: block;
    height: 30px;
    width: 250px;
    border-radius: 5px;
}
.rad{
    position: relative;
    width: 65%;
	display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.in{
    position: absolute;
    display: flex;
    margin-top: 2rem;
    gap: 5px;
}
.in input{
    position: relative;
    height: 20px;
    width: 15px;
}
.day{
    position: relative;
}
.day label{
    position: relative;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.day input{
    background:none;
    border:none;
    position: relative;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.lib{
    position: relative;
    width: 65%;
    height: 50px;
	display: flex;
    top: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.custom-file-upload {
    padding: 10px;

    cursor: pointer;
    border-radius: 5px;
  }
  .btn {
    padding: 10px 20px; /* Adjust the padding values as needed */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-btn {
    background-color: red;
    color: white;
}

.save-btn {
    background-color: blue;
    color: white;
}
