*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(52deg, #800020 48.69%, rgba(0, 0, 128, 0.77) 94.48%);
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.logo{
    margin-left: 150px;
}
.container h1{
    color: #FFF;
    text-shadow: 7px 7px 8px rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 74px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    top: 100px;
    right: 190px;
}
.container h2{
    color: #FFF;
    text-shadow: 7px 7px 8px rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    margin-left: 30px;
}
.email{
    border-radius: 29px;
    background: #F4E3B5;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.50) inset;
    width: 523px;
    height: 53px;
    flex-shrink: 0;
    margin-top: 20px;
}
button{
    border-radius: 20px;
border: 3px solid #000;
background: #FBD87E;
}
.book1 {
    display: flex;
    align-items: center;
}