* {
  padding: 0;
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* LOGO AND USER */

.container{
    /* background: #F0ECE2; */
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    height: 100px;
  }
.logo{
    margin-left: 55px;
    width: 105px;
    height: 84px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo li{
  top: 0;
  margin-top: -25px;
  margin-left: -25px;
}
.search{
  margin-left: -115px;
  text-align: center;
  margin-top: -75px;
}
.search input[type="search"]{
  font-weight: normal;
  font-size: 20px;
  width: 600px;
  height: 50px;
  border-radius: 100px;
  border: solid 5px  #010190;
  border-right: solid 50px #010190;
  padding-left: 10px;
}
.fa-solid{
  margin-left:-40px;
}
.fa-solid:active{
  opacity: 0.3;
}
.user-logo{
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: solid 1px rgb(0, 0, 0);
  padding-top: 5px;
  padding-left: 5px;
}
.user-logo img,
.library-card img {
  margin-bottom: 10px;
  width: 40px;
  vertical-align: middle;
  margin-top: 1px;
}
.user p:hover{
  text-decoration: underline;
}
.user p:active{
  color: #010190;
}
.user label[for="username"],
.user label[for="card-id"] {
  color: #000000;
  display: inline-grid;
  font-size: 8px;
  margin-right: 40px;
}
.user label[for="card-id"] {
  margin-top: 15px;
}
.top-bar{
  height:100px;
}
/* Hide logout dropdown by default */
.logout-dropdown {
  top: 0%;
  left: 0%;
  margin-left: 130px;
  margin-top: 43px;
  display: none;
  position: absolute;
  background-color: rgb(130, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the logout link */
.logout-dropdown a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.logout-dropdown a:hover{
  background:rgb(84, 1, 1);
}

/* Change color on hover */
.logout-dropdown a:active {
  opacity: 0.5;
}


/* NAV BAR */
.nav-bar {
  color: white;
  background: #010190;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav-bar ul li{
  display: inline-flex;
  padding: 10px  100px;
}
.nav-bar ul li a,i{
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.nav-bar ul li a:active{
  text-decoration: underline;
}
.nav-bar i {
  margin: 9px;
}

/* content */
.bg-image img{
  height: 250px;
}
.books{
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: -180px;
}
.books img{
  width: 200px;
  cursor: pointer;
  transition: transform .5s;

}
.books img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.booklist{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}
.booklist1, 
.booklist2,
.booklist3,
.booklist4,
.booklist5,
.booklist6,
.booklist7,
.booklist8{
  margin-top: 5px;
  align-items:center;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.book-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.booklist img{
  width: 50px;
}
.booklist1 img:hover, 
.booklist2 img:hover,
.booklist3 img:hover,
.booklist4 img:hover,
.booklist5 img:hover,
.booklist6 img:hover,
.booklist7 img:hover,
.booklist8 img:hover{
  transform: scale(1.5);
  transition: transform .3s ;
}
.booklist p {
  /* margin-left: 10px;
  display: flex;
  font-size: 1px;
  font:100;
  cursor: pointer;
  display: flex;
  margin-top: -20px; */
}
.booklist p:hover{
  text-decoration: underline;
}
.booklist p:active{
  color: #010190;

}
.booklist button{
  /* margin-top: 50px;
  position: absolute;
  width: 6rem;
  height: 18px;
  color: black;
  cursor: pointer;
  display:inline-block;
  border: solid 1px black;
  border-radius: 10px; */
}
.button button:nth-child(1){
  left: 0;
  color: white;
  margin-left: 75px;
  background: #010190;
  transition: transform .1s;
}
.button button:nth-child(2){
  color: white;
  background: none;
  background: rgb(187, 0, 0);
  transition: transform .1s;
}
.button button:nth-child(1):hover{
  transform: scale(1.1);
  box-shadow: 0 5px 8px 0 rgb(0, 0, 0);
  color:  white;

}
.button button:nth-child(2):hover{
  box-shadow: 0 5px 8px 0 rgb(0, 0, 0);
  transform: scale(1.1);
  color:  white;
}
.button button:nth-child(1):active,
.button button:nth-child(2):active{
  opacity: 0.5;
} 
@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 20px;
  }

  .search input[type="search"] {
    width: 100%;
  }

  .nav-bar ul li {
    padding: 10px 20px;
  }

  .books {
    margin-top: -100px;
  }

  .booklist {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .booklist button {
    margin-top: 20px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin: 20px 0;
  }

  .search {
    margin: 20px 0;
  }

  .user-logo {
    position: static;
    border: none;
    padding: 0;
    margin-top: 20px;
  }

  .top-bar {
    height: auto;
  }

  .logout-dropdown {
    margin: 10px 0;
  }

  .nav-bar ul {
    flex-direction: column;
  }

  .nav-bar ul li {
    padding: 10px 0;
  }

  .books {
    margin-top: -50px;
  }

  .booklist {
    grid-template-columns: 1fr;
    margin: 10px 5px;
  }
}