*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FFF;
}
.logo{
    margin-left: 55px;
    width: 105px;
    height: 84px;
    display: flex;
    align-items: center;
}
.logo li {
    position: absolute;
    width: 115px;
    left: 122px;
    top: 5px;
}
.logo2{
    display: flex;


}
.logo2 li {
    border: 1px solid;
    padding: 2rem;
    border-bottom: 0;
    border-top: 0;
}
.logo2 li:nth-child(1){
    border-right: 0;
}
.logo2 li:nth-child(3){
    border-left: 0;
}
.container{
    position: relative;
    background: #F0ECE2;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
  }
.navbar{
    flex: 1;
    text-align: right;
    left: 500px;
    position: absolute;
    top: 20px;
  }
.navbar ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    width: 50px;
    color: #050505;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Jomolhari;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
/* .navbar .em{
 

} */
.navbar a{
    text-decoration: none;
     color: #fff;
  }
.emnotif{
    left: 630px;
    position: absolute;
}
.navbar .emlogo{
    left: -438px;
    position: absolute;
}
.navbar .email{
    left: 750px;
    position: absolute;
}
.navbar .next{
    top:10px;
    left: 830px;
    position: absolute;
}
.label {
    width: 424px;
    height: 54px;
}

.label .text-wrapper {

    width: 424px;
    left: 45px;
    font-family: "Jomolhari-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 15%;
    position: relative;
}
.box {
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: center;
}

.box .rectangle {
    width: 90%;
    height: 14px;
    top: 0;
    left: 0;
    background-color: #800020;
}
.box1 {
    width: 259px;
    height: 278px;
}

.box1 .tangle {
    width: 259px;
    height: 278px;
    position: relative;
    margin-top: 6rem;
    margin-left: 9rem;
    background-color: #01019080;
}
.image {
    width: 170px;
    height: 170px;
}

.image .stack-of-books {
    width: 170px;
    height: 170px;
    margin-top: 2.25rem;
    margin-left: 3.125rem;
    object-fit: cover;
}
