*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: #FFF;
}
/* NAVBAR */
.logo{
  margin-left: 55px;
  width: 105px;
  height: 84px;
  display: flex;
  align-items: center;
}
.logo li {
  position: absolute;
  width: 115px;
  left: 122px;
  top: 5px;
}
.logo2{
  display: flex;


}
.logo2 li {
  border: 1px solid;
  padding: 2rem;
  border-bottom: 0;
  border-top: 0;
}
.logo2 li:nth-child(1){
  border-right: 0;
}
.logo2 li:nth-child(3){
  border-left: 0;
}
.container{
  position: relative;
  background: #fff;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}
.navbar{
  flex: 1;
  text-align: right;
  left: 500px;
  position: absolute;
  top: 20px;
}
.navbar ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  width: 50px;
  color: #050505;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Jomolhari;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  /* TITLE */
  .title{
    background: #1B1BEC;
    color: #fff;
    display: flex;
    justify-content: space-between;
    right: 20rem;
    text-align: center;
    align-items: center;
  }
  .title p{
    margin-left: 100px;
    font-size: 2em;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .title button{
    display: flex;
    margin-left: -100px;
    background: none;
    padding: 5px;
    border: solid 1px white;
    cursor: pointer;
    justify-content: center;
    color: white;
    transition: transform .2s;
  }
  .title button:hover{
    transform: scale(1.1);
  }
  .title button:active{
    opacity: .5;
  }


  /* TABLE */
  .table{
    display: flex;
    justify-content: center;
    text-align: center;

  }
  .table table{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5em;
  }
  .table th{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    border: 2px solid black;
    text-align: center;

  }
  .table td{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:.9em;
  }
  .table td:nth-child(2){
    display: flex;
    height: 68px;
    text-align: center;
  }
  .table span{
    margin-left: 10px;
    margin-top: 18px;
  }
  .table tr td .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10{
    margin-top:3px;
    margin-left: 100px;
    width: 60px;
    height:60px;
  }
  .table th:nth-child(1),
  td:nth-child(1){
    color: white;
    padding: 10px;  
    background: #040492;
  }
  .button{
    display: flex;
    font-size: xx-small;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
  }
.button input[type="checkbox"] {
  width: 25px;
  height: 26px;
}
.button img{
  cursor: pointer;
}
.button img:active{
  opacity: 0.2;
}